%html
  %head
    %title Index for #{package} documentation
    %link{:rel => "stylesheet", :href => "stylesheet.css"}
%body
  %h1 List of package #{package} contents
  %ul
    - sources.each do |source|
      %li
        %a{:href => "#{source}.html"}= source