%html
  %head
    %title Index for documentation
    %link{:rel => "stylesheet", :href => "stylesheet.css"}
%body
  %h1 List of packages
  %ul
    - packages.each do |package|
      %li
        %a{:href => "#{package}/index.html"}= package